html{
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    margin-top: 5rem;
    font-size: 2rem;
}
.app_header {
    background-color: #654e00ce;
    padding: .5rem;
    color: #FDFDFD;
    align-items: center;
}

.app_header h1 {
    font-family: Cambria, Cochin, Georgia, Times;
    display: inline;
    font-size: 1.5rem;
}

.app_header::before {
    content: url("../assets/ic-plane.png");     
    font-size: .1rem;
    object-fit: cover;
    max-width: 32px;
    max-height: 32px;
    margin-right: 1rem;
   
}

#clients-table {
    border: 1px solid transparent;
    box-shadow: 0 0 1rem  black;
}

#clients-table thead th {
    background-color: #550;
    color: cornsilk;
    font-size: 1.5rem;
    padding: .5rem;
}

#clients-table caption {
    font-size: 2rem;
}

#clients-table tr:nth-child(2n+2) {
    background-color: #c2c1ba50;
}


#clients-table tr td {
    padding: .5rem;
    font-size: 1.5rem;
}

.app_form  {
    margin-bottom: 2rem;
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
}

.form-group {
    
}

.form-group input{
    padding: .3rem;
    width: 100%;
    font-size: 1.5rem;
}

.form-group input:focus {
    outline: blue;
    box-shadow: inset 0 0 5px blue;
    
}

#name-info {

}

#email-info {

}

#age-info {

}

#cpf-info {

}

#rg-info {

}

#register_button {
    background-color: #550;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 1rem;
    padding: .5rem;
}

#filter{
    font-size: 1.2rem;
    width: 40%;
    padding: .3rem;
    display: inline;
    margin-top: .5rem;
}

label[for="filter"] {
    margin-top: .5rem;
    margin-right: .3rem;
    vertical-align: top;

}

#filter:focus {
    outline: blue;
    box-shadow: inset 0 0 5px blue;
}

.invisible {
    display: none;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
} 

#get_clients {
    font-size: .9rem;
    background-color: #550;
    color: #FDFDFD;
    padding: .5rem;
    margin-top: .5rem;
}
